@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  min-height: 100vh;
}
/* .custom{
  background-color: red;
} */
.img {
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  left: 20px;
}
.error-class {
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  right: -25px;
}
